#imprimir {
    margin: 8px 13px;
    float: right;
}

.skin-blue .main-header .navbar {
    background-color: #ffffff ! important;
}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: #367fa9 ! important;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #dfebf3 ! important;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    color: #367fa9 ! important;
}

.point {
    cursor: pointer;
}

.point-link:hover {
    color: forestgreen !important;
    font-weight: bold;
}

a.link-tabela:hover {
    color: #367fa9 ! important;
}

a.link-tabela {
    color: black;
    cursor: pointer;
}

.row.row-text {
    margin-bottom: 17px;
}

body {
    color: #000 ! important;
}

table {
    background-color: rgb(255, 255, 255) ! important;
}

.icone {
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 2px;
    margin-right: 8px;
}

.icone-cheque {
    background-color: #ffa303;
}

.icone-transferencia {
    background-color: #6f05d1;
}

.icone-setemenor {
    background-color: red;
}

.icone-setemaior {
    background-color: blue;
}

.btn-table {

    padding: 1px 10px ! important;

}

.proxant {
    margin-top: 7px;
    margin-bottom: -3px;
}

span.vertical-middle {
    vertical-align: -30px ! important;
}

.unidade {
    float: left;
    background-color: grey;
    height: 70px;
}




td>input[type="checkbox"] {
    margin: 0px 0 0 0 ! important;
}




.table-hover>tbody>tr:hover {
    background-color: #d9edf7 ! important;
}




.padding-zero {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.float-right {
    float: right;
}


.text-right {
    text-align: right;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}


.black {
    background-color: black;
}


div#descerpagina {
    float: right;
    margin-left: 10px;
}



div#mini-screen {
    float: right;
    margin-left: 10px;
    display: none;

}

div#full-screen {
    margin-left: 10px;
    float: right;

}


.ocultar {
    display: none;
}



.drop-menu li ul.sub-menu a {
    padding-left: 0px ! important;
    padding-right: 0px ! important;
    margin-bottom: 0px ! important;
    padding: 11px ! important;
}


ul.sub-menu {
    padding: 1px 1px 1px 2px ! important;
}

.panel-footer {
    padding: 5px 15px ! important;
}

.panel-body {
    padding: 5px ! important;
    margin-bottom: 5px;
}




button.btn.btn-link.pgcontasapagar {
    padding: 0px;
}



.profile-usertitle-name {
    text-transform: uppercase;
}

.profile-userpic img {
    width: 80px;
    border-radius: 50%;
    margin-top: 6px;
}


.flutuanteEmitirPagamento {

    position: absolute ! important;
    left: 50% ! important;
    width: 40% ! important;
    margin-top: -700px ! important;
    margin-left: -294px ! important;
    padding: 10px ! important;
}








td.td_pequena {
    width: 1%;
}

/* ORGANIZAR */



.direita {

    float: right;

}

img.direita.bandeirinha {
    margin-top: 16px;
}

div#menu-lateral {
    background-color: #fff;
    height: 100%;
    position: fixed;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    z-index: 9998;
    margin-top: 40px;
    padding-top: 3px;
}


/* FORMATAÇÃO BOOTSTRAP */

p {
    margin: 0px ! important;
}

td {
    font-size: 12px;
    margin-top: 2px;
}

.input {
    margin: 0;
    padding: 0;
}

form {
    margin: 0;
    padding: 0;
}

.thead {
    color: #fff;
    background-color: #808080;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgb(215, 215, 215);
}

.panel-heading {
    padding: 0px 15px ! important;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #d2d2d2 ! important;
}


/************* INPUT ************/

input.input_left {
    width: 87%;
    float: left;
    margin-right: 3px;
}


/* NOVOS OBJETOS */

.btn-invisible {
    cursor: pointer;
    background-color: rgba(50, 138, 34, 0);
    color: rgba(50, 138, 34, 0);
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
}

.invisible {
    text-decoration: none;
    display: none;
}

p.titulo_branco {
    margin: -7px 0px ! important;
    padding: 0px;
}

.foto_funcionario>label {
    width: 161px;
}

.foto_funcionario img {
    background-color: #63C9DE;
    border-radius: 5%;
    height: 201px;
    width: 100%;
}

td#menor {
    width: 20px;
    padding-left: 58px;
    padding-top: 15px;
}

.titulo_pure_black {
    color: #fff;
    background-color: #000;
    text-align: center;
    font-size: 18px;
}

#funcionando {
    display: none;
}

input#enviar_foto {
    display: none;
}

.bemvindo {
    font-size: 50px;
    text-align: center;
}

.widcem {
    width: 100% ! important;
}

.espaco {
    height: 10%;
}

.numaior {
    font-size: 16px;
}

.centronum {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}


/************* LOGO ************/

.col-md-2.logovdlap {
    margin-right: 5px ! important;
}

.logo {
    padding-bottom: 0px;
    width: 90px;
}

/************* CORES ************/

a.cem:hover {
    cursor: pointer;
}

.cem {
    color: black;

}

span.desativado {
    color: #e0e0e0;
}

.titulo_branco {
    color: #fff;
}

tr.black {
    background-color: #a1a1a1;
    ;
}

.table-bordered>tbody>tr.trcolor>td {
    border: 1px solid rgba(255, 255, 255, 0) ! important;
    background-color: white;
    border-bottom: 1px solid white ! important;
    border-right: 1px solid white ! important;
}

.titulo_azul {
    color: #4B70FF;
    text-shadow: 0.1px 1px 0px black;
    font-size: 20px;
}

.azulclaro {
    background-color: rgb(192, 192, 192) !important;
}

.foto_funcionario img:hover {
    background-color: #EF2020;
}

.vermelho {
    color: #ff0000;
}

a.preto {
    font-size: 12px !important;
    color: #000000 !important;
}

.azul {
    background-color: rgba(212, 229, 255, 0.19);
    color: #0883f1;
}

/************* MENU NOVO ************/

#menu-topo {
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding-top: 3px ! important;
    padding-bottom: 3px ! important;



    margin-bottom: 5px;
    background-color: white;
    position: fixed;
    z-index: 9999;
    box-sizing: border-box;

}


#ocultar {
    float: left;

}

#mostrar {

    float: left;

    display: none;

}

#mostrar:hover {
    color: #204d74;
}

#ocultar:hover {
    color: #204d74;
}



#conteudo {
    margin-top: 40px;
    padding-top: 3px;
    background-color: #fafafa;
}

/************* MENU ************/

menu.navbar-collapse.collapse {
    margin-top: 11px ! important;
}


.drop-menu {
    max-height: 100%;
    padding: 0px;
}

.drop-menu ul {
    padding: 0px;
    position: relative;
    z-index: 999;
}

.drop-menu ul li {
    position: relative;
    list-style: none;

}

.drop-menu li a {
    width: 100%;
}

.drop-menu li a {
    font-weight: bold;
    box-shadow: 0px 0px 1px #999;
    border-radius: 1%;
    display: table;
    list-style: none outside none;
    padding: 13px 0 15px 19px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff;
}

.drop-menu>ul>li:last-child a {
    border-bottom: 1px solid #E0E0E0;
}



.drop-menu li ul {
    left: 120%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 113%;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}

.drop-menu li:hover>ul {
    opacity: 1;
    visibility: visible;
    left: 100%;
}

/*.drop-menu ul ul:before,*/

.drop-menu ul li.menu-item-has-children:after,
.drop-menu ul li.page_item_has_children:after {
    content: ">";
    display: block;
    overflow: visible;
    position: absolute;
    top: 17px;
    left: 90%;
    color: #5c5c5c;
    font-size: 18px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    opacity: 1;
    font-size: 12px;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);
    visibility: visible;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}

.drop-menu ul li.menu-item-has-children:hover:after,
.drop-menu ul li.page_item_has_children:hover:after {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}



/*Painel de login*/


.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

#img-login {
    margin-bottom: 20px;
}

#painel-login {
    background-color: white;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding-top: 38px;
    padding-bottom: 38px;
    border-radius: 5px;
    margin-top: -145px;
}

body {
    background-color: #f1f1f1 ! important;
}

.input-login {
    margin-bottom: 5px;
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
    background-color: #ffffff ! important;
}

.skin-blue .sidebar a {
    color: #1889bd;
}

/*fatura consolidada*/
#table-dentro>tbody>tr>td {
    line-height: 0.4 ! important;
}

h4.mes_td.text-center {
    padding: 0px;
    margin: 0px;
}

.table-dentro>tbody>tr>td {
    vertical-align: middle ! important;
    text-align: center;
}


/*fim fatura consolidada*/

/* FORNCEDOR BUSCA */

/*ADICIONADO AUTOMATICO PELO JQUERY*/
.ui-autocomplete-input {
    float: left;
    width: 89.2%;
}

a.ui-button.ui-widget.ui-button-icon-only.custom-combobox-toggle.ui-corner-right {
    padding: 14px ! important;
    padding-bottom: 15px;
    /* height: 15px; */
    height: 34px;
    /* margin-top: -1; */
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}

.filtroselect {
    background-color: #ffeb3b;
}

.filtroselect:hover {
    background-color: #ffeb3b;
}


.menu-ocultar {
    margin-left: 15px;
}

.input-menor {
    width: 88%;
    float: left;
}

.table-hover {
    cursor: pointer;
}

.tr-destaque{
    background-color:#cdd5db;;
}
.btn-add-contato{
  
    width:5%;
}
.form-menor{
    float:left;
    width:90%;
}